.container
{
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    background-color: var(--primary-element);
    margin: 0;
    padding: 120px 50px 50px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    z-index: 10;
}

.list
{
    list-style: none;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 12px;
    cursor: pointer;
}

.active
{
    background-color: var(--alert-color);
    border-radius: 5px;
    color: white;   
}

.slide
{
    background-color: var(--primary-element);
    border-radius: 50%;
    height: 40px;
    width: fit-content;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.pop
{
    right: -40px;
}

.left
{
    transform: translate(-300px);
}

.right
{
    transform: translate(0);
}