.container
{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.user, .status
{
    margin: 0;
}

.user
{
    font-weight: 600;
}

.status
{
    background-color: var(--secondary-color);
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    min-width: 100px;
    border: 0;
}

.success
{
    color: var(--secondary-color);
    background-color: var(--success-color);
}

.warning
{
    color: var(--secondary-color);
    background-color: #b194d4;
}

.alert
{
    color: var(--secondary-color);
    background-color: var(--alert-color);

}

.result
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-weight: 500;
    border-top: 1px solid rgba(0,0,0,0.15);
    padding-top: 20px;
}

.group
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left
{
    color: rgba(0,0,0,0.3);
}

.left, .right
{
    margin: 0;
}

.pendingTest
{
    margin: 0;
    background-color: var(--primary-bg);
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.testDetails
{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.more
{
    height: 20px;
    width: fit-content;
}

.more:hover
{
    transform: scale(1.15);
    cursor: pointer;
}

.group:nth-child(4), .group:nth-child(4)>.left
{
    padding: 5px;
    border-radius: 5px;
    color: white;
}

