.container
{
    width: calc(33.3% - 10px);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-between;
    background-color: var(--secondary-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title
{
    margin: 0;
}

