.topic
{
    background-color: var(--primary-element);
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}

@media screen and (max-width: 480px)
{
    .topic
    {
        font-size: 12px;
    }    
}