.skeleton
{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading
{
    0%
    {
        background-color: var(--primary-border);
    }

    100%
    {
        background-color: rgb(75, 75, 75);
    }
}


.container
{
    width: calc(50% - 10px);
    border: 1px solid var(--primary-border);
    height: 180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.header
{
    display: flex;
    justify-content: space-between;
}

.container, .title, .duration, .description
{
    margin: 0;
    border-radius: 5px;
}

.title
{
    width: 120px;
    padding: 14px;
}

.duration
{
    width: 80px;
}

.footer
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.description
{
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 920px)
{
    .container
    {
        width: 100%;
    }
}