.wrapper
{
    background-color: var(--primary-bg);
}

.container
{
    padding: 30px 10vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.video
{
    background-color: var(--primary-element);
    padding: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 450px) 
{
    .container
    {
        padding: 100px 20px  20px;
    }    
}