.wrapper
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 30px;
}

.container
{
    width: 100%;
    background-color: var(--primary-element);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding: 40px;
    font-size: 14px;
}

.webcam
{
    margin-top: 30px;
    width: 200px;
    height: 150px;
    background-color: var(--primary-bg);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.spinner
{
    min-height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header
{
    margin: 0;
    color: var(--primary-color);
    font-size: 42px;
}

.batchCards
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.container
{
    display: flex;
    align-items: start;
    column-gap: 30px;
    color: white;
}

.quiz
{
    display: flex;
    width: 40%;
    flex-direction: column;
    row-gap: 20px;
}

.options
{
    margin-top: 45px;
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.option
{
    background-color: var(--primary-bg);
    min-width: 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    border: 0;
    font-size: 16px;
    color: white;
    line-height: 24px;
}

.question
{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.question, .option
{
    margin: 0;
}

.control
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.button
{
    border: 1px solid var(--primary-border);
    background: none;
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}

.button:hover
{
    color: var(--secondary-color);
    background-color: var(--alert-color);
    border: 1px solid var(--alert-color);
    cursor: pointer;
}

.read
{
    cursor: auto;
}

.disabled
{
    background-color: var(--primary-bg);
    color: white;
    border: 1px solid var(--primary-bg);
}

.disabled:hover
{
    cursor:not-allowed;
    background-color: var(--primary-bg);
    color: white;
    border: 1px solid var(--primary-bg);
}

.selected
{
    border: 1px solid rgb(52, 77, 158);
    background-color: rgb(157, 197, 212);
    color: black;
}

.correct
{
    background-color: var(--success-color);
    color: black;
    cursor: auto;
}

.alert
{
    background-color: var(--warning-color);
    color: black;
    cursor: auto;
}

.scorecard
{
    width: 80%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding: 30px 0;
}

.reason
{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-bg);
    margin: 0;
}

.checkout
{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.checkout:hover
{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.head
{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.card
{
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.group
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.left, .right
{
    margin: 0;
}

.testCompleteWrapper
{
    background-color: rgba(0,0,0,0.75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testComplete
{
    width: 500px;
    background-color: var(--primary-bg);
    padding: 0 20px 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.success
{
    width: 300px;
    height: fit-content;
}

.routes
{
    display: flex;
    column-gap: 20px;
}

.activeQuestion
{
    color: var(--alert-color);
    font-weight: 600;
    margin: 0;
}

.route
{
    border: 0;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-border);
    color: white;
    font-size: 15px;
}

.route:hover
{
    background-color: var(--alert-color);
    color: var(--secondary-color);
    border: 1px solid var(--alert-color);
    cursor: pointer;
}

.colorInfo
{
    background-color: var(--primary-element);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    box-shadow: var(--box-shadow);
}

.group
{
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: white;
}

.successColor, .alertColor
{
    padding: 8px;
    border-radius: 50%;
}

.successColor
{
    background-color: var(--success-color);
}

.alertColor
{
    background-color: var(--warning-color);
}

@media screen and (max-width: 450px)
{
    .container
    {
        flex-direction: column;
        padding: 20px;
    }

    .quiz, .options
    {
        width: 100%;
        font-size: 14px;
    }

    .question, .option
    {
        font-size: 14px;
    }

    .testComplete
    {
        width: 300px;
    }

    .route
    {
        font-size: 14px;
    }
}