.wrapper
{
    width: 100%;
}

.container
{
    width: 100%;
    padding: 50px;
    background-color: var(--primary-element);
}

.header, .container
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.header
{
    background-color: var(--primary-bg);
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 5px;
    color: white;
    row-gap: 20px;
    border: 1px solid rgb(41, 41, 41);
}

.container
{
    row-gap: 30px;
    position: relative;
}

.course
{
    font-size: 24px;
    font-weight: 600;
    color: var(--alert-color);
    cursor: pointer;
}

.details, .group
{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date
{
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.rowHeader
{
    background-color: var(--alert-color); 
}

.headerCell
{
    font-size: 16px;
    color: white;
}

.cell
{
    font-size: 16px;
    background-color: white;
    color: black;
}

.spinner
{
    min-height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download
{
    position: absolute;
    top: 0;
    right: -50px;
    background-color: rgb(207, 207, 207);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.download:hover
{
    color: var(--alert-color);
}

.downloadIcon
{
    height: 20px;
    width: fit-content;
}

.fints
{
    height: 40px;
    width: fit-content;
}