.container
{
    border-radius: 8px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    background-color: var(--secondary-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input
{
    width: 100%;
    font-size: 14px;
}

.clear
{
    padding: 10px;
    width: 70px;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    border: 1px solid var(--alert-color);
    background-color: var(--secondary-color);
    color: var(--alert-color);
    border-radius: 5px;
}

.clear:hover
{
    background-color: var(--alert-color);
    color: var(--secondary-color);
    cursor: pointer;
}
