body
{
  margin: 0;
}

*
{
  box-sizing: border-box;
}

:root
{
  --primary-color: #4f3680;
  --secondary-color: white;
  --primary-bg: rgb(240, 240, 240);
  --primary-border: rgb(44, 44, 44);
  --active-bg: #d3c7eb;
  --alert-color: #D4313D;
  --success-color: #3DC296;
  --success-bg: rgb(241, 251, 234);
  --alert-bg: #f7c3ce;
  --pending-bg: rgb(255, 250, 211);
}

::-webkit-scrollbar 
{
  width: 5px;
}

::-webkit-scrollbar-track 
{
  background: black;
}

::-webkit-scrollbar-thumb 
{
  background: rgb(66, 66, 66);
}

::-webkit-scrollbar-thumb:hover 
{
  background: black;
}