@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body
{
  margin: 0;
}

*
{
  box-sizing: border-box;
}

:root
{
  --secondary-color: white;
  --primary-bg: #0a0a0a;
  --primary-element: rgb(15, 18, 18);
  --box-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.1),
    4px 4px 10px rgba(0, 0, 0, 0.15), 
    6px 6px 15px rgba(0, 0, 0, 0.2);
  /* --primary-bg: rgb(240, 240, 240); */
  --primary-border: rgb(82, 82, 82);
  --active-bg: #d3c7eb;
  --alert-color: #D4313D;
  --success-color: #3DC296;
  --success-bg: rgb(241, 251, 234);
  --alert-bg: #f7c3ce;
  --warning-color: rgb(252, 215, 52);
  --gold-color: #daa520
}

::-webkit-scrollbar 
{
  width: 5px;
}

::-webkit-scrollbar-track 
{
  background: black;
}

::-webkit-scrollbar-thumb 
{
  background: rgb(66, 66, 66);
}

::-webkit-scrollbar-thumb:hover 
{
  background: black;
}