.container
{
    margin: 0;
    padding: 0 10vw 50px;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    background-color: var(--primary-bg);
    color: white;
    font-size: 16px;
}

.marqueeWrapper
{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: var(--alert-color);
    text-align: center;
    color: white;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee
{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
    margin: 0;
}

@keyframes marquee 
{
    from 
    {
      transform: translateX(100%);
    }
    to 
    {
      transform: translateX(-100%);
    }
}

.query
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: var(--box-shadow);
}

.chat
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: fit-content;
    background-color: var(--primary-element);
    padding: 10px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    z-index: 100;
}

.quoteWrapper
{
    background-color: var(--alert-color);
    padding: 20px;
    border-radius: 5px;
}

.quoteIcon
{
    height: 40px;
    width: fit-content;
    margin-bottom: 10px;
}

.statsWrapper
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 40px;
}

.actionBg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.actionWrapper
{
    height: 80vh;
    position: relative;
    box-shadow: var(--box-shadow);
}

.actionContent
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 48px;
    background-color: rgba(0,0,0,0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 10vw;
    row-gap: 30px;
}

.highlight
{
    width: fit-content;
    background-color: var(--alert-color);
    padding: 5px;
}

.explore
{
    font-size: 14px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    line-height: 20px;
}

.explore:hover
{
    background-color: var(--alert-color);
    border: 1px solid var(--alert-color);
}

.statCard
{
    height: 200px;
    background-color: rgba(0,0,0,0.65);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    position: relative;
    line-height: 30px;
}

.newsBg
{
    height: 100%;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.statValue
{
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    display: inline;
    border-radius: 5px;
    padding: 10px;
}

.statHighlight
{
    color: var(--alert-color);
    padding: 0 5px;
    font-weight: 600;
}

.sectionWrapper, .faqWrapper
{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
}
  
.faqWrapper
{
    row-gap: 20px;
}

.aboutHeader
{
    font-size: 48px;
    color: var(--primary-bg);
    font-weight: 700;
}

.aboutDescription
{
    line-height: 36px;
    margin-bottom: 10px;
}

.aboutWrapper
{
    background-color: var(--alert-color);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 40px;
    border-radius: 5px;
}

@media screen and (max-width:720px)
{

    .action
    {
        font-size: 16px;
        line-height: 40px;
    }
}

@media screen and (max-width:480px)
{
    .statsWrapper
    {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        column-gap: 15px;
        row-gap: 15px;
        font-size: 12px;
        line-height: 20px;
    }

    .action
    {
        font-size: 14px;
    }

    .explore
    {
        font-size: 12px;
        padding: 5px;
    }

    .actionContent
    {
        padding: 20px;
    }

    .statCard
    {
        line-height: 24px;
    }

    .container
    {
        padding:  0 20px 20px;
        font-size: 14px;
    }
}
