.wrapper
{
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-bg);
}

.light
{
    background-color: var(--primary-bg);
}

.container
{
    padding: 30px 10vw;
}

.navbar
{
    width: 100%;
    background-color: var(--primary-element);
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fints
{
    height: 35px;
    width: fit-content;
    cursor: pointer;
}

.loader
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee
{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: var(--alert-color);
    text-align: center;
    color: white;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}
  
.marqueeContent
{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
    margin: 0;
}
