.container
{
    min-width: calc(33.34% - 20px);
    min-height: fit-content;
    border-radius: 5px;
    border: 1px solid var(--primary-border);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px;
    transition: opacity 1s ease-in-out;
}

.user, .feedback
{   
    margin: 0;
}

.feedback
{
    line-height: 36px;
}

.user
{
    color: grey;
    font-weight: 600;
}

 @media screen and (max-width: 1120px) 
{
    .container
    {
        min-width: calc(50% - 20px);
    }
}


@media screen and (max-width: 720px) 
{
    .container
    {
        min-width: calc(100% - 20px);
    }
}



