.container
{
    width: 400px;
    min-height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--primary-element);
    box-shadow: var(--box-shadow);
    transition: opacity 1s ease-in-out;
}

.user, .feedback, .name
{   
    margin: 10px 0;
}

.feedback
{
    line-height: 36px;
}

.user
{
    color: grey;
    font-weight: 600;
}

 /* @media screen and (max-width: 1120px) 
{
    .container
    {
        min-width: calc(50% - 20px);
    }
} */


@media screen and (max-width: 375px) 
{
    .container
    {
        width: 300px;
    }
} 



