.container
{
    width: 100%;
    display: flex;
    align-items:flex-start;
    column-gap: 15px;
    font-size: 15px;
}

.user
{
    margin: 0;
    height: 32px;
    width: fit-content;
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.username
{
    margin: 0;
    color: var(--alert-color);
    font-weight: 600;
}

.reply
{
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    color: black;
}

.date, .reply, .like
{
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.5);
}

.comment
{
    margin: 5px 0;
    font-size: 14px;
}

.header
{
    margin-bottom: 5px;
}

.footer, .header
{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.reply, .like
{
    cursor: pointer;
}

.reply:hover, .like:hover
{
    transform: scale(1.1);
}
