.container
{
    height: fit-content;
    width: 100%;
    padding: 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header
{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.authWrapper
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.cartWrapper
{
    position: relative;
}

.cart
{
    height: 30px;
    width: fit-content;
    cursor: pointer;
}

.count
{
    background-color: var(--secondary-color);
    padding: 0;
    text-align: center;
    height: 15px;
    width: 15px;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

.auth
{
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 2px 5px;
    background: none;
    font-size: 14px;
    color: var(--secondary-color);
}

.auth:hover
{
    cursor: pointer;
    border: 1px solid var(--alert-color);
    background-color: var(--alert-color);
    color: var(--secondary-color);
}

.controls, .links, .links
{
    display: flex;
    column-gap: 15px;
}

.close
{
    height: 30px;
    width: fit-content;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 40px;
}

.links
{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.link
{
    margin: 0;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 480px) 
{
    .container
    {
        row-gap: 30px;
        font-size: 14px;
    }    
}