.container
{
    width: 100%;
    display: flex;
    padding: 15px 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.active
{
    background-color: var(--alert-color);
    color: white;
}

.container:hover
{
    background-color: var(--alert-color);
}

.name
{
    font-size: 14px;
    margin: 0;
}

.time
{
    font-size: 14px;
    margin: 5px;
}

.user
{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.delete
{
    height: 20px;
    width: 22px;
    background-color: var(--primary-bg);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inactiveDelete, .activeDelete
{
    height: 10px;
    width: 11px;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
}

.activeDelete
{
    background-color: var(--alert-color);
}

