.wrapper
{
    width: 100%;
}

.container
{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 8px;
}

.list
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 20px;
}

.add
{
    background-color: var(--alert-color);
    color: var(--primary-bg);
    border: 0;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.spinner
{
    min-height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

