.skeleton
{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading
{
    0%
    {
        background-color: var(--primary-border);
    }

    100%
    {
        background-color: rgb(75, 75, 75);
    }
}

.container
{
    width: calc(33.4% - 15px);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-border);
    position: relative;
    line-height: 30px;
    padding: 10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.image
{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}

.courseImage
{
    min-width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
}

.level
{
    width: 100px;
    padding: 12px;
    font-size: 12px;
}

.courseContent
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.title, .price, .level, .lecture, .courseImage, .explore
{
    margin: 0;
    border-radius: 5px;
} 

.header
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    row-gap: 15px;
}

.title
{
    width: 75%;
    padding: 12px;
}

/* .discount
{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    font-size: 10px;
} */

.explore
{
    width: 60px;
    padding: 15px;
}

.coursePicture
{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.price
{
    padding: 12px;
    width: 70px;
}

.lecture
{
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;
    width: 30%;
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 1720px) 
{
    .container
    {
        width: calc(25% - 15px);
    }
}

@media screen and (max-width: 1120px) 
{
    .container
    {
        width: calc(50% - 15px);
    }
}

@media screen and (max-width: 720px) 
{
    .container
    {
        width: 100%;
    }

}