.container
{
    height: fit-content;
    margin: 0;
    padding: 7px;
    background-color: var(--primary-bg);
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
}

.keyword, .selected
{
    margin: 0;
}

.selected
{
    background-color: var(--alert-color);
}

.edit:hover
{
    transform: scale(1.05);
}

.dup
{
    color: grey;
}

.dup:hover
{
    cursor:not-allowed;
    transform: scale(1);
}

.close
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 12px;
    background-color: rgb(105, 105, 105);
    color: var(--secondary-color);
    border-radius: 50%;
    width: 16px;
    text-align: center;
}

.close:hover
{
    transform: scale(1.1);
}