.wrapper
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg);
}

.container
{
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    background-color: var(--primary-element);
    box-shadow: var(--box-shadow);
    color: white;
}

.container, .header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header
{
    row-gap: 10px;
    margin-bottom: 20px;
}

.logo
{
    height: 50px;
    width: fit-content;
    cursor: pointer;
}

.welcome
{
    font-size: 20px;
    margin: 0;
}

.inputs
{
    width: 100%;
    background-color: var(--primary-bg);
    border-radius: 5px;
    padding: 8px;
}

.form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.submit
{
    padding: 6px 0;
    width: 100%;
    background-color: var(--alert-color);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.forgotpassword
{
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.errorMessage
{
    font-size: 12px;
    font-weight: 500;
    color: var(--alert-color);
    margin: 0;
}

.noaccount
{
    margin: 0;
    margin-top: 20px ;
}

.link
{
    color: grey;
    font-weight: 500;
}

.link:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.option
{
    margin: 0;
    color: grey;
    font-weight: 500;
}

.error
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    color: var(--alert-color);
}

.erroricon
{
    height: 20px;
    width: fit-content;
}

.errorMessage
{
    font-size: 14px;
    margin: 0;
}

.success
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    font-size: 14px;
    color: var(--success-color);
}

.successicon
{
    height: 20px;
    width: fit-content;
}

.successMessage
{
    margin: 0;
}

.spinner
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 450px) 
{
    .container
    {
        margin-top: 80px;
        width: 90%;
    }    
}