.container
{
    width: 100%;   
    background-color: var(--primary-bg);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.container:hover
{
    background-color: var(--alert-color);
    cursor: pointer;
}

.googleIcon
{
    height: 30px;
    width: fit-content;
}

.title
{
    margin: 0;
    background:none;
    border: 0;
    font-size: 14px;
    color: white;
    cursor: pointer;
}