.container
{
    width: calc(25% - 15px);
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-element);
    box-shadow: var(--box-shadow);
    color: white;
    row-gap: 10px;
    position: relative;
}

.testImage
{
    width: 100%;
    background-color: var(--primary-bg);
    height: 140px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}

.testDetails
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.title
{
    margin: 0;
}

.status, .pending
{
    width: fit-content;
    position: absolute;
    top: 25px;
    right: 25px;
    margin: 0;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    border: 0;
    box-shadow: var(--box-shadow);
}

.pending
{
    border: 1px solid var(--primary-element);
    background-color: var(--primary-element);
    color: white;
}

.test
{
    height: 40px;
    width: fit-content;
}

.footer
{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date
{
    margin: 0;
    font-size: 14px;
    color: var(--primary-border);
}

.success
{
    background-color: var(--success-color);
    color: var(--secondary-color);
    border: 1px solid var(--success-color);
}

.warning
{
    background-color: var(--warning-color);
    border: 1px solid var(--warning-color);
    color: black;
}

.route
{
    border: 0;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    background: var(--alert-color);
    color: white;
    font-size: 12px;
}

.instructions
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

@media screen and (max-width: 1050px) 
{
    .container
    {
        width: calc(50% - 10px);
    }    
}

@media screen and (max-width: 640px) 
{
    .container
    {
        width: 100%;
    }    
}