.wrapper
{
    width: 100%;
}

.container
{
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.searchbar
{
    display: flex;
    align-items: center;
    column-gap: 15px;
    position: relative;
}

.input
{
    background-color: var(--primary-element);
    border-radius: 5px;
    border: 1px solid rgb(41, 41, 41);
}

.clear
{
    color: grey;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    right: 20px;
}

.search
{
    background-color: var(--alert-color);
    color: white;
    border: 1px solid var(--alert-color);
    border-radius: 5px;
    font-size: 14px;
    padding: 14px;
    cursor: pointer;
}

.assignments
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 10px;
}

.spinner
{
    min-height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}