.container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
}

.header
{
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: 100%;
}

.keys
{
    width: 100%;
}

.add
{
    padding: 10px;
    width: 70px;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    border: 1px solid var(--primary-border);
    background: none;
    border-radius: 5px;
}

.add:hover
{
    border: 1px solid var(--alert-color);
    background-color: var(--alert-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.keywords
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.keyword
{
    margin: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    color: var(--secondary-color);
    font-size: 14px;
    cursor: pointer;
}

.keyword:hover
{
    transform: scale(1.05);
}