.container
{
    width: 100%;
    z-index: 1;
}

.query
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--box-border);
    column-gap: 30px;
    padding: 20px 0;
}

.icon
{
    height: 20px;
    width: fit-content;
    cursor: pointer;
}

.question, .answer
{
    margin: 0;
    line-height: 28px;
}

.answer
{
    padding: 20px;
    background-color: var(--alert-color);
    color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: var(--box-shadow);
    line-height: 34px;
}

.light
{
    background: black;
    color: white;
}