.container
{
    width: calc(25% - 15px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-border);
}

.title
{
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.icons
{
    height: 50px;
    width: fit-content;
}


@media screen and (max-width:1120px) 
{
    .container
    {
        width: calc(50% -  10px);
    }    
}

@media screen and (max-width:575px) 
{
    .container
    {
        width: 100%;
    }    
}