.wrapper
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-bottom: 50px;
}

.container
{
    display: flex;
    column-gap: 20px;
}

.spinner
{
    min-height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress
{
    width: 50%;
}

.practicals
{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 5px;
}

.sessions, .assessments
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.assessments
{
    margin: 0;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.assessmentWrapper
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.header
{
    font-size: 36px;
    color: var(--alert-color);
    margin:0 0 8px;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
}

.feedback
{
    position: fixed;
    right: 20px;
    top: 95px;
    height: 50px;
    width: fit-content;
    background-color: var(--primary-element);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.feedbackForm
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.75);
}

.toolTip
{
    position: absolute;
    right: 80px;
    top: 95px;
    background-color: var(--primary-border);
    font-size: 10px;
    border-radius: 5px;
    color: white;
    padding: 6px;
}

@media screen and (max-width: 1050px) 
{
    .container 
    {
        flex-direction: column;
        row-gap: 20px;
    }   
    
    .progress, .practicals
    {
        width: 100%;
    }

    .header
    {
        font-size: 32px;
    }

}

@media screen and (max-width: 1050px) 
{
    .header
    {
        font-size: 28px;
    }

    .feedback
    {
        top: 30px;
        right: 10px;
        height: 30px;
        padding: 5px;
        width: fit-content;
    }

}