.container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--primary-element);
    box-shadow: var(--box-shadow);
    color: white;
    font-size: 15px;
}

.header, .footer, .batchDetails, .certificateWrapper
{
    display: flex;
    flex-direction: column;
}

.header, .footer
{
    width: 100%;
    align-items: center;
    row-gap: 5px;
}

.courseTitle
{
    color: var(--alert-color);
    font-size: 24px;
    width: 100%;
    font-weight: 600;
    margin: 0;
    text-align: center;
    border-radius: 5px;
}

.batchDetails
{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    row-gap: 10px;
    border-radius: 5px;    
    background-color: var(--primary-bg);
    font-size: 15px;
}

.group, .addlink, .download
{
    display: flex;
    align-items: center;
}

.group
{
    justify-content: space-between;
}

.connect
{
    border: 1px solid var(--alert-color);
    background-color: var(--alert-color);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 0 5px;
}

.addlink
{
    width: 100%;
    column-gap: 10px;
}

.link
{
    border-radius: 5px;
    border: 0;
}

.certificateWrapper
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: rgba(0,0,0,0.7);
}

.close
{
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 30px;
    font-weight: 600;
    color: var(--alert-color);
    cursor: pointer;
}

.download
{
    justify-content: center;
    height: 30px;
    width: 420px;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
    column-gap: 10px;
    border: var(--box-border);
}

.downloadIcon
{
    height: 24px;
    width: fit-content;
}

.download:hover
{
    background-color: var(--alert-color);
}

@media screen and (max-width: 450px)
{
    .container
    {
        font-size: 14px;
        padding: 20px;
    }

    .download
    {
        font-size: 16px;
    }

    .courseTitle
    {
        font-size: 20px;
    }

    .batchDetails
    {
        font-size: 12px;
    }
}
