.skeleton
{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading
{
    0%
    {
        background-color: rgb(21, 21, 21);
    }

    100%
    {
        background-color: rgb(32, 32, 32);
    }
}


.container
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.title, .description,.coverImage, .join, .rating, .level
{
    margin: 0;
    border-radius: 5px;
}

.coverImage
{
    border-radius: 10px;
    padding: 22.5vh;
    
    background-color: var(--primary-element);
    box-shadow: var(--box-shadow);
}

.header, .content
{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.title
{
    margin-top: 15px;
    padding: 20px;
    width: 300px;
}

.level
{
    width: 100px;
    padding: 12px;
    margin: 15px 0;
}

.description
{
    padding: 10px;
}

.description:nth-child(3)
{
    width: 50%;
}

.content
{
    row-gap: 25px;
}

.lectures
{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.footer
{
    display: flex;
    justify-content: space-between;
}

.join
{
    padding: 15px;
    width: 90px;
}

.rating
{
    padding: 15px;
    width: 150px;
}

.join,.rating
{
    background-color: var(--primary-element);
}