.container
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0,0,0,0.15);
    font-size: 16px;
}

.fints
{
    height: 48px;
    width: fit-content;
}

.authWrapper
{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.auth
{
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 8px 10px;
    background: none;
    font-size: 14px;
    color: var(--secondary-color);
}

.auth:hover
{
    cursor: pointer;
    border: 1px solid var(--alert-color);
    background-color: var(--alert-color);
    color: var(--secondary-color);
}

.link
{
    margin: 0;
    color: white;
    cursor: pointer;
}

.link:hover
{
    transform: scale(1.1);
}

.controls, .links, .links
{
    display: flex;
    column-gap: 15px;
}

.navigation
{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.links
{
    align-items: center;
    column-gap: 40px;
}

.register
{
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 5px 15px;
    border-radius: 5px;
    background: none;
    font-size: 14px;
}

.register:hover
{
    background-color: var(--alert-color);
    border: 1px solid var(--alert-color);
    cursor: pointer;
}

.menu
{
    display: none;
} 

.slider
{
    width: 320px;
    position: fixed;
    top: 40px;  
    right: 10px;
    display: none;
}

@media screen and (max-width:720px)
{
    .slider
    {
        display: block;
    }   

    .links
    {
        display: none;
    }
}

@media screen and (max-width:480px)
{
    .slider
    {
        width: calc(100% - 20px);
    }
}