.container
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
}

.fints
{
    height: 40px;
    width: fit-content;
    cursor: pointer;
}

.authWrapper
{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.cartWrapper
{
    position: relative;
}

.cart
{
    height: 30px;
    width: fit-content;
    cursor: pointer;
}

.count
{
    background-color: var(--secondary-color);
    padding: 0;
    text-align: center;
    height: 15px;
    width: 15px;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

.auth
{
    background-color: var(--alert-color);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--secondary-color);
}

.controls, .links, .links
{
    display: flex;
    column-gap: 15px;
}

.navigation
{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.links
{
    display: flex;
    column-gap: 25px;
}

.link
{
    color: white;
    cursor: pointer;
}

.link:hover
{
    transform: scale(1.05);
}

.menu
{
    display: none;
} 

.slider
{
    width: 320px;
    position: fixed;
    top: 40px;  
    right: 10px;
    display: none;
}

.title
{
    height: 35px;
    width: fit-content;
    cursor: pointer;
}

.close
{
    height: 30px;
    width: fit-content;
    cursor: pointer;
}

.user
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;
    color: white;
    position: absolute;
    right: 20px;
    top: 80px;
    min-width: 350px;
    background-color: var(--primary-element);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

@media screen and (max-width:720px)
{
    .slider
    {
        display: block;
    }   

    .links, .auth
    {
        display: none;
    }
}

@media screen and (max-width:480px)
{
    .slider
    {
        width: calc(100% - 20px);
    }
}