.container
{
    background-color: var(--primary-element);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 30px;
    color: white;
    position: absolute;
    right: 20px;
    top: 80px;
    font-size: 15px;
    min-width: 350px;
}

.close
{
    margin-left: -5px;
    height: 30px;
    width: fit-content;
    cursor: pointer;
}