.wrapper
{
    width: 100%;
    border-radius: 8px;
    min-height: 100vh;
}

.container
{   
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.discussions
{
    width: 100%;
    display: flex;
    column-gap: 20px;
}

.discussionsReply
{
    width: 100%;
    background-color: var(--primary-bg);
}

.spinner
{
    min-height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




