.container
{
    height: 100vh;
    position: relative;
}

.background
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.certify
{
    height: 90%;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 720px) 
{
    .certify
    {
        width: 80%;
        height: fit-content;
    }    
}
