.certify
{
    height: 350px;
    width: fit-content;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

@media screen and (max-width: 720px) 
{
    .certify
    {
        width: 80%;
        height: fit-content;
    }    
}
