.container
{
    width: calc(33.3% - 10px);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-between;
    font-size: 15px;
    position: relative;
    color: white;
    background-color: var(--primary-element);
    box-shadow: var(--box-shadow);
}

.imageContainer
{
    height: 200px;
    width: 100%;
    position: relative;
}

.image
{
    border-radius: 5px;
    width: 100%;
}

.title, .course, .status
{
    margin: 0;
}

.course
{
    font-size: 16px;
    font-weight: 550;
}

.content
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    line-height: 22px;
}

.delete
{
    height: 24px;
    width: fit-content;
    cursor: pointer;
}

.date
{
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    background-color: var(--primary-border);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.status
{
    font-size: 14px;
    color: var(--primary-border);
    font-weight: 500;
}

.details
{
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    border: 1px solid var(--primary-border);
    margin: 0;
}

.details:hover
{
    border: 1px solid var(--alert-color);
    background-color: var(--alert-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.deleteBatch
{
    height: 40px;
    width: fit-content;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: var(--primary-element);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

